.fields{
  /* margin-top: 5%; */
    position:fixed; 
    bottom:0;
    width:100%;
}
.button1{
    width: 70%;
}
h1{
    text-align: center;
    color: lightblue;
    border: 1px solid black;
    margin-left: 50%;
}
li{
    list-style-type: none;
    text-transform: uppercase;
}
h4{
    margin-left: 35%;
    text-transform: uppercase;
    color: lightblue;
    
}
h3{
    margin-left: 40%;
    color:lightblue;
}
.view{
    border: 3px solid;
    border-radius: 30px;
    height: 70px;

    margin-top: 4px;
}