.App {
  text-align: center;
  position: relative;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.chat{
  height: 38%;
}
input{
  width: 100%;
  width: blue;
  border-radius: 4px solid;
  height: 8%;
}
.button{
  position: fixed;
  width:100%;
  color:blue;
}
.inputbutton{
  position:fixed;
  bottom:0;
  width:100%;
}
.inputBox{
  height: 20px;
}
ul{
  list-style-image: url('logo.svg');  
  font-size: 16px;
}
ul :hover{
background-color:lightblue;
}
 
